.menu {

	// .menu__icon
	&__icon {}

	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			right: -100%;
			top: 0;
			overflow: auto;
			padding: toRem(100) toRem(15) toRem(15) toRem(30);
			background-color: $purpleColor;
			transition: right 0.5s;
			z-index: 3;

			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: toRem(90);
				right: -100%;
				top: 0;
				transition: right 0.5s;
				z-index: 2;
				background-color: $bgColor;
			}

			.menu-open & {
				right: 0;

				&::before {
					right: 0;
				}
			}
		}
	}

	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		row-gap: toRem(5);
		column-gap: toRem(30);

		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: end;
		}
	}

	// .menu__item
	&__item {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: toRem(10);
		transition: all 0.4s;

		@media (any-hover: hover) {
			&:hover {
				background-color: $purpleColor;
			}
		}
	}

	// .menu__link
	&__link {
		font-family: 'Orbitron', sans-serif;
		font-size: toRem(16);
		font-weight: 500;
		line-height: 1.25;
		/* 20/16 */
		text-transform: uppercase;

		@media (max-width: $mobile) {}
	}
}

//Burger Icon
.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		flex-shrink: 0;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #fff;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - toRem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}