// Заголовки, загальні БЕМ блоки та інше...
//================================================================
.item-portfolio {

  // .item-portfolio__link
  &__link {
    position: relative;
    flex: 1 1 toRem(360);
    aspect-ratio: 360 / 440;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: toRem(40);
    background: $bgColor;
    font-size: toRem(40);
    font-weight: 700;
    text-transform: uppercase;
  }

  // .item-portfolio__video
  &__video {
    flex: 1 1 toRem(360);
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    transition: all 0.6s;

    &::before {
      display: none;
      content: '';
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      z-index: 1;
      inline-size: 100%;
      block-size: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    @media (any-hover: hover) {
      &:hover {
        outline: 10px solid #9700FF;

        &::before {
          display: block;
        }

        .item-portfolio__play-button {
          transform: translate(-50%, -90%);
        }

        .item-portfolio__text {
          opacity: 1;
          visibility: visible;
          transform: translate(-50%, 50%);
        }
      }
    }
  }

  // .item-portfolio__image
  &__image {
    inline-size: 100%;
    aspect-ratio: 1;
  }

  // .item-portfolio__play-button
  &__play-button {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    inline-size: toRem(120);
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: all 0.6s;

    &:not(:last-child) {
      margin-block-end: toRem(10);
    }

    &::before {
      font-size: toRem(100);
      color: $mainColor;
    }
  }

  // .item-portfolio__text
  &__text {
    // display: none;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    inline-size: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    transition: all 0.6s;
    opacity: 0;
    visibility: hidden;
  }

  // .item-portfolio__title
  &__title {}
}

//================================================================
.review {
  padding-block: toRem(70);
  padding-inline: toRem(39.5);
  background-color: $purpleColor;
  box-shadow: 0 toRem(4) toRem(10) 0 rgba(0, 0, 0, 0.20);

  // .review__body
  &__body {
    text-align: center;
  }

  // .review__user
  &__user {
    font-size: toRem(40);
    font-weight: 700;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-block-end: toRem(10);
    }
  }

  // .review__position
  &__position {
    font-size: toRem(20);
    line-height: 1.75;
    /* 35/20 */
    text-transform: capitalize;

    &:not(:last-child) {
      margin-block-end: toRem(10);
    }
  }

  // .review__info
  &__info {

    p {
      font-size: toRem(20);
      line-height: 1.75;
      /* 35/20 */
      letter-spacing: toRem(-0.4s);
      text-transform: capitalize;
    }
  }
}

//================================================================
.button {
  background-color: $purpleColor;
  box-shadow: 0 toRem(4) toRem(10) 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: toRem(15) toRem(60);
  transition: color 0.4s;

  span {
    font-family: 'Orbitron', sans-serif;
    font-size: toRem(20);
    font-weight: 900;
    text-transform: uppercase;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: $darkBlue;
    }
  }

  &--small {
    padding: toRem(10) toRem(40);

    span {
      font-size: toRem(18);
      line-height: 1.111111;
      /* 20/18 */
    }
  }
}

//================================================================
.arrow {
  display: flex;
  flex-shrink: 0;
  background-repeat: no-repeat;
  inline-size: toRem(203);
  block-size: toRem(39);
  background: url('../img/about/bg_image.png') toRem(257);
  mask-image: url('../img/arrow.svg');
  animation: animationArrow 3s linear infinite;
}

@keyframes animationArrow {
  0% {
    background-position: toRem(-203) 50%;
  }

  50% {
    background-position: toRem(203) 50%;
  }

  100% {
    background-position: toRem(406) 50%;
  }
}