// Заголовки, загальні БЕМ блоки та інше...
//================================================================
.item-portfolio {

  // .item-portfolio__link
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: toRem(40);
    background: $bgColor;
  }

  // .item-portfolio__video
  &__video {
    aspect-ratio: 360 / 360;
    inline-size: 100%;
    object-fit: cover;
    position: relative;
    transition: all 0.6s;

    &::before {
      display: none;
      content: '';
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      z-index: 1;
      inline-size: 100%;
      block-size: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    @media (any-hover: hover) {
      &:hover {
        outline: 10px solid #9700FF;

        &::before {
          display: block;
        }

        .item-portfolio__play-button {
          transform: translate(-50%, -90%);
        }

        .item-portfolio__text {
          opacity: 1;
          visibility: visible;
          transform: translate(-50%, 50%);
        }
      }
    }
  }

  // .item-portfolio__image
  &__image {
    inline-size: 100%;
    aspect-ratio: 360 / 360;
    object-fit: cover;
  }

  // .item-portfolio__play-button
  &__play-button {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: all 0.6s;

    &:not(:last-child) {
      margin-block-end: toRem(10);
    }

    &::before {
      color: $mainColor;
      @include adaptiveValue("font-size", 100, 54, 0, 1512, 393);
    }

    @include adaptiveValue("inline-size", 120, 64, 0, 1512, 393);
  }

  // .item-portfolio__text
  &__text {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    inline-size: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    transition: all 0.6s;
    opacity: 0;
    visibility: hidden;
    font-weight: 700;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 40, 14, 0, 1512, 393);
  }

  // .item-portfolio__title
  &__title {
    font-weight: 700;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 40, 14, 0, 1512, 393);
  }
}

//================================================================
.review {
  // padding-block: toRem(70);
  padding-inline: toRem(39.5);
  background-color: $purpleColor;
  box-shadow: 0 toRem(4) toRem(10) 0 rgba(0, 0, 0, 0.20);
  @include adaptiveValue("padding-block", 70, 35, 0, 1512, 393);

  @media (max-width:$mobile) {
    padding-inline: toRem(36);
  }

  @media (max-width:$mobileSmall) {
    padding-inline: toRem(29);
  }

  // .review__body
  &__body {
    text-align: center;
  }

  // .review__user
  &__user {
    font-size: toRem(40);
    font-weight: 700;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-block-end: toRem(10);
    }

    @include adaptiveValue("font-size", 40, 20, 0, 1512, 393);
  }

  // .review__position
  &__position {
    font-size: toRem(20);
    line-height: 1.75;
    /* 35/20 */
    text-transform: capitalize;

    &:not(:last-child) {
      margin-block-end: toRem(10);
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(20);
      line-height: 111.111111%;
      /* 20/18 */
    }
  }

  // .review__info
  &__info {

    p {
      font-size: toRem(20);
      line-height: 1.75;
      /* 35/20 */
      letter-spacing: toRem(-0.4);
      text-transform: capitalize;

      @media (max-width:$mobileSmall) {
        font-size: toRem(14);
        line-height: 214.285714%;
        /* 30/14 */
        letter-spacing: toRem(-0.28);
      }
    }
  }
}

//================================================================
.button {
  background-color: $purpleColor;
  box-shadow: 0 toRem(4) toRem(10) 0 rgba(0, 0, 0, 0.25);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.4s;
  @include adaptiveValue("padding-block", 15, 8, 0, 1512, 393);
  @include adaptiveValue("padding-inline", 60, 40, 0, 1512, 393);

  span {
    font-family: 'Orbitron', sans-serif;
    font-size: toRem(20);
    font-weight: 900;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 20, 14, 0, 1512, 393);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: $darkBlue;
    }
  }

  &--small {
    padding: toRem(10) toRem(40);

    span {
      font-size: toRem(18);
      line-height: 1.111111;
      /* 20/18 */
    }
  }

  @media (max-width: toEm(393)) {
    padding: toRem(8) toRem(40);
  }
}

//================================================================
.arrow {
  display: flex;
  flex-shrink: 0;
  background-repeat: no-repeat;
  inline-size: toRem(203);
  block-size: toRem(39);
  background: url('../img/about/bg_image.png') toRem(257);
  mask-image: url('../img/arrow.svg');
  animation: animationArrow 3s linear infinite;

  @media (max-width:$mobile) {
    display: none;
  }
}

@keyframes animationArrow {
  0% {
    background-position: toRem(-203) 50%;
  }

  50% {
    background-position: toRem(203) 50%;
  }

  100% {
    background-position: toRem(406) 50%;
  }


}

//================================================================
.social {

  // .social__list
  &__list {
    display: flex;
    align-items: center;
    column-gap: toRem(19);
  }

  // .social__item
  &__item {}

  // .social__link
  &__link {
    inline-size: toRem(20);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;

    &::before {
      font-size: toRem(15);
    }

    @media (any-hover: hover) {
      &:hover {
        color: #ffffffc5;
        transform: scale(1.3);
      }
    }
  }
}

//================================================================
.title {
  font-weight: 700;
  line-height: 1.166667;
  /* 70/60 */
  text-transform: uppercase;
  @include adaptiveValue("font-size", 60, 24);

  // .title--big
  &--big {
    line-height: 0.875;
    /* 70/80 */
    @include adaptiveValue("font-size", 80, 32);
  }
}