//====================================================================================================
.page {

  // .page__hero    
  &__hero {
    &:not(:last-child) {
      @include adaptiveValue("margin-block-end", 90, 20, 0, 1512, 393);

    }
  }

  // .page__about    
  &__about {
    &:not(:last-child) {
      @include adaptiveValue("margin-block-end", 200, 80, 0, 1512, 393);
    }
  }

  // .page__portfolio  
  &__portfolio {
    &:not(:last-child) {
      @include adaptiveValue("margin-block-end", 200, 80, 0, 1512, 393);
    }
  }

  // .page__testimonials  
  &__testimonials {}

  // .page__consult
  &__consult {}
}

//====================================================================================================
.hero {
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    border-radius: toRem(480);
    opacity: 0.3;
    background: linear-gradient(90deg, rgba(151, 0, 255, 0.60) 0%, rgba(87, 255, 28, 0.60) 36.9%, rgba(255, 0, 0, 0.60) 67.4%, rgba(0, 56, 255, 0.60) 100%);
    filter: blur(50px);
    position: absolute;
    inline-size: toRem(480);
    block-size: toRem(480);
    z-index: -1;

    @media (max-width:$mobile) {
      display: none;
    }
  }

  &::before {
    inset-block-start: -18.719212%;
    /* 114/609 */
    inset-inline-start: -9.920635%;
    /* 150/1512 */
    animation: moveBefore 10s linear 1s infinite;
  }

  &::after {
    inset-block-end: -18.719212%;
    /* 114/609 */
    inset-inline-end: -9.920635%;
    /* 150/1512 */
    animation: moveAfter 10s linear 1s infinite;
  }

  // Анімація для ::before - рух по периметру
  @keyframes moveBefore {
    0% {
      top: 0%;
      left: 0%;
    }

    25% {
      top: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
    }

    50% {
      top: 100%;
      left: 100%;
    }

    75% {
      top: 100%;
      left: 0%;
    }

    100% {
      top: -18%;
      left: -9%;
    }

  }

  // Анімація для ::after - рух по діагоналі, потім по периметру
  @keyframes moveAfter {
    0% {
      bottom: 0%;
      right: 0%;
    }

    25% {
      bottom: 50%;
      right: 50%;
      transform: translate(50%, 50%);
    }

    50% {
      bottom: 100%;
      right: 100%;

    }

    75% {
      bottom: 100%;
      right: 0%;
    }

    100% {
      bottom: -18%;
      right: -9%;
    }
  }

  // .hero__container
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: toRem(40);

    @media (max-width: toEm(393)) {
      padding-inline: toRem(20);
    }
  }

  // .hero__body
  &__body {
    position: relative;
    display: flex;
    column-gap: toRem(58);
    padding-block-start: toRem(92);

    @media (max-width: toEm(1290)) {
      column-gap: toRem(40);
    }

    @media (max-width:$mobile) {
      column-gap: toRem(20);
    }

    @media (max-width: toEm(393)) {
      column-gap: toRem(30);
    }

    @include adaptiveValue("padding-block-start", 92, 0);
  }

  // .hero__content
  &__content {
    padding-block-start: toRem(28);
    padding-block-end: toRem(160);
    flex-basis: toRem(584);
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    row-gap: toRem(20);
    z-index: 2;

    @media (max-width: toEm(1140)) {
      padding-block-end: toRem(60);
    }

    @media (max-width:$tablet) {
      padding-block-end: toRem(40);
    }

    @media (max-width:$mobile) {
      padding-block-end: toRem(20);
      padding-block-start: 0;
    }

    @media (max-width: toEm(393)) {
      flex-basis: toRem(233);
      flex-grow: 1;
      flex-shrink: 1;
      row-gap: toRem(12);
      padding-block-end: toRem(0);
    }
  }

  // .hero__name
  &__name {
    align-self: start;
    line-height: 1.111111;
    /* 20/18 */
    letter-spacing: toRem(-0.36);
    text-transform: uppercase;

    &::after {
      content: '';
      // display: inline-block;
      inline-size: 120%;
      block-size: toRem(1);
      background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
      margin-block-start: toRem(10);

      @media (max-width: toEm(393)) {
        margin-block-start: toRem(4);
      }
    }

    @media (max-width: toEm(393)) {
      font-size: toRem(14);
      line-height: 107.142857%;
      /* 15/14 */
      letter-spacing: toRem(-0.28);
    }
  }

  // .hero__title
  &__title {}

  // .hero__text
  &__text {
    line-height: 222.222222%;
    /* 40/18 */
    letter-spacing: toRem(-0.36);
    text-transform: capitalize;

    p {
      &:not(:last-child) {
        margin-block-end: toRem(10);
      }
    }

    @media (max-width: toEm(560)) {
      line-height: 107.142857%;
      /* 15/14 */
    }

    @media (max-width: toEm(393)) {
      font-size: toRem(14);
      line-height: 107.142857%;
      /* 15/14 */
      letter-spacing: toRem(-0.28);
    }
  }

  // .hero__button
  &__button {
    align-self: start;
  }

  // .hero__box-size768  
  &__box-size768 {
    display: none;

    @media (max-width:$mobile) {
      display: flex;
      flex-direction: column;
      block-size: 100%;
      position: relative;

      .about__rolling {
        flex-basis: toRem(50);
        flex-grow: 1;
        flex-shrink: 1;
        padding-block-start: toRem(5);
        overflow: hidden;
      }

      .pictures-hero__image-men {
        inline-size: 40%;
        position: relative;
        transform: translate(15%, 0);
      }
    }
  }


}

.pictures-hero {
  inline-size: 100%;
  inline-size: toRem(636);
  aspect-ratio: 636 / 508;
  flex-shrink: 1;
  position: relative;

  @media (max-width: toEm(393)) {
    flex-basis: toRem(97);
    flex-grow: 1;
    flex-shrink: 0;
  }

  // .pictures-hero__image-pr
  &__image-pr {
    display: inline-block;
    position: absolute;
    inset-block-start: 10.433071%;
    /* 53/508 */
    inset-inline-start: 7.704403%;
    /* 49/636 */
    aspect-ratio: 110 / 136;
    inline-size: 15.988372%;
    /* 110/688 */
    transform: rotate(-45deg);

    @media (max-width:$mobile) {
      transform: rotate(-15deg);
      inset-block-start: toRem(24);
      inset-inline-start: 22%;
    }

    @media (max-width:$mobileSmall) {
      inline-size: 27%;
      inset-inline-start: 12%;
    }
  }

  // .pictures-hero__image-ae
  &__image-ae {
    display: inline-block;
    position: absolute;
    inset-block-start: 17.322835%;
    /* 88/508 */
    inset-inline-end: 3.930818%;
    /* 25/636 */
    aspect-ratio: 70 / 88;
    inline-size: 10.174419%;
    /* 70/688 */
    transform: rotate(30deg);

    @media (max-width:$mobile) {
      transform: rotate(18deg);
      // inset-block-start: toRem(57);
      inset-inline-end: 45%;
    }

    @media (max-width:$mobileSmall) {
      inline-size: 17%;
      inset-inline-end: 30%;
    }
  }

  // .pictures-hero__image-men
  &__image-men {
    display: inline-block;
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 26.100629%;
    /* 166/636 */
    aspect-ratio: 376 / 508;
    inline-size: 58.8%;

    @media (max-width: toEm(1150)) {
      width: 65%;
    }
  }

  // .pictures-hero__image-branch-left
  &__image-branch-left {
    display: inline-block;
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    aspect-ratio: 315 / 353;
    inline-size: 49.3%;
    transform: rotate(90deg);
    z-index: -1;

    @media (max-width:$mobile) {
      inset-inline-start: 35%;
      inline-size: 60%;
    }

    @media (max-width:$mobileSmall) {
      inline-size: 90%;
      aspect-ratio: 97 / 109;
      flex-shrink: 0;
      inset-inline-start: 0;
      inset-block-end: toRem(12);
    }
  }

  // .pictures-hero__image-branch
  &__image-branch {
    display: inline-block;
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: -8.333333%;
    /* 53/636 */
    aspect-ratio: 286 / 321;
    width: 44.7%;
    transform: rotate(90deg);
    z-index: -1;

    @media (max-width:$mobile) {
      display: none;
    }
  }

  @media (max-width:$mobile) {
    margin-inline-end: toRem(-20);
  }
}

//====================================================================================================
.about {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.99) 85.54%), url('../img/about/bg_image.png') 0 0 / cover no-repeat;

  // .about__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: toRem(60);
    @include adaptiveValue("padding-block", 120, 20, 0, 1512, 393);

    @media (max-width:$mobile) {
      row-gap: toRem(40);
    }

    @media (max-width:$mobileSmall) {
      row-gap: toRem(20);
    }

    @media (max-width: toEm(393)) {
      padding-inline: toRem(20);
    }
  }

  // .about__content  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: toRem(20);
    @include adaptiveValue("margin-inline", 138, 15);
  }

  // .about__title
  &__title {
    text-align: center;
    align-self: center;
    padding-inline: 12.468828%;
    /* 50/401 */
    display: flex;
    flex-direction: column;

    &::after {
      content: '';
      align-self: center;
      inline-size: 125%;
      block-size: toRem(1);
      background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
      margin-block-start: toRem(10);
    }
  }

  // .about__text
  &__text {
    text-align: center;
    letter-spacing: -2%;
    line-height: 222.222222%;

    /* 40/18 */
    @media (max-width: toEm(393)) {
      font-size: toRem(14);
      line-height: 214.285714%;
      /* 30/14 */
      letter-spacing: toRem(-0.28);
    }
  }

  // .about__bottom
  &__bottom {
    margin: 0 toRem(60);

    @media (max-width:$mobile) {
      display: flex;
      justify-content: center;
    }
  }

  // .about__rolling
  &__rolling {}
}

.rolling {

  // .rolling__body
  &__body {}

  // .rolling__list  
  &__list {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  // .rolling__item
  &__item {
    display: flex;
    align-items: center;
    margin-inline-start: toRem(40);

    @media (max-width:$mobile) {
      margin-inline-start: 0;
    }

    span {
      font-family: 'Orbitron', sans-serif;
      font-weight: 500;
      font-size: toRem(20);
      line-height: 125%;
      /* 25/20 */
      text-transform: capitalize;
      margin-inline-end: toRem(60);
      white-space: nowrap;

      @media (max-width:$mobile) {
        font-size: toRem(14);
        line-height: 107.142857%;
        /* 15/14 */
        margin-inline-end: toRem(20);
      }
    }

    &::after {
      content: '';
      inline-size: toRem(10);
      aspect-ratio: 1;
      border-radius: 50%;
      background: url('../img/about/bg_ellipse.jpg') 100% repeat;
      // background: linear-gradient(90deg,
      //     rgba(151, 0, 255, 0.60) 0%,
      //     rgba(87, 255, 28, 0.60) 36.9%,
      //     rgba(255, 0, 0, 0.60) 67.4%,
      //     rgba(0, 56, 255, 0.60) 100%);
    }
  }
}

//====================================================================================================
.portfolio {

  // .portfolio__container
  &__container {}

  // .portfolio__title
  &__title {
    padding-inline-end: 25.218914%;
    /* 144/571 */
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;

    &::after {
      content: '';
      inline-size: 125.218914%;
      block-size: toRem(1);
      background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
      margin-block-start: toRem(20);

      @media (max-width: toEm(479.98)) {
        margin-block-start: toRem(6);
      }

      @media (max-width: toEm(393)) {
        margin-block-start: toRem(4);
      }
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-block-end", 60, 20, 0, 1512, 393);
    }
  }

  // .portfolio__slider
  &__slider {
    padding: toRem(10);
  }

  // .portfolio__next-arrow
  &__next-arrow {
    align-self: flex-end;
    margin-block-end: toRem(20);

    @media (max-width:$mobile) {}
  }

  // .portfolio__wrapper
  &__wrapper {
    column-gap: toRem(10);
  }
}

//====================================================================================================
.testimonials {

  // .testimonials__container
  &__container {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("row-gap", 120, 20, 0, 1512, 393);
    @include adaptiveValue("padding-block-end", 152, 60, 0,
      1512,
      393);

    @media (max-width: toEm(393)) {
      padding-inline: toRem(20);
    }
  }

  // .testimonials__title
  &__title {
    text-align: center;
    align-self: center;
    padding-inline: 12.522361%;
    /* 70/559 */
    display: flex;
    flex-direction: column;

    &::after {
      content: '';
      align-self: center;
      inline-size: 125%;
      block-size: toRem(1);
      background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
      margin-block-start: toRem(10);
    }
  }

  // .testimonials__items
  &__items {
    margin-inline: 8.398744%;
    /* 107/1274 */
    display: flex;
    flex-wrap: wrap;
    column-gap: toRem(30);
    row-gap: toRem(24);
  }

  // .testimonials__item
  &__item {
    flex-basis: toRem(250);
    flex-shrink: 0;
    flex-grow: 1;
  }

  &::after {
    content: '';
    inline-size: 100%;
    block-size: toRem(48);
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.10) 0%, rgba(66, 255, 0, 0.10) 48.9%, rgba(36, 0, 255, 0.10) 100%);

    @media (max-width: toEm(540)) {
      block-size: toRem(20);
    }
  }
}

//====================================================================================================
.consult {
  padding-block-end: toRem(110);
  @include adaptiveValue("padding-block-start", 160, 40, 0, 1512, 393);

  @media (max-width:$mobileSmall) {
    padding-block-end: toRem(70);
  }

  // .consult__container
  &__container {
    position: relative;

    @media (max-width: toEm(393)) {
      padding-inline: toRem(20);
    }
  }

  // .consult__body
  &__body {
    @media (max-width:$mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  // .consult__title
  &__title {
    padding-inline-end: 14.200477%;
    /* 119/838 */
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;

    &:not(:last-child) {
      margin-block-end: toRem(40);
    }

    &::after {
      content: '';
      inline-size: 114.200477%;
      block-size: toRem(1);
      background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
      margin-block-start: toRem(20);

      @media (max-width: toEm(479.98)) {
        margin-block-start: toRem(6);
      }

      @media (max-width: toEm(393)) {
        margin-block-start: toRem(4);
      }
    }

    @media (max-width:$mobile) {
      text-align: center;
      padding-inline-end: 0;
      align-items: center;
    }

    @media (max-width:$mobileSmall) {
      padding-inline: 10.526316%;
      /* 18/171 */
      margin: 0 toRem(50);

      &::after {
        inline-size: 120%;
      }
    }
  }

  // .consult__form
  &__form {
    &:not(:last-child) {
      margin-block-end: toRem(80);
    }
  }

  // .consult__contacts
  &__contacts {
    &:not(:last-child) {
      margin-block-end: toRem(60);
    }
  }

  // .consult__social
  &__social {
    display: none;

    @media (max-width:$mobile) {
      display: flex;
    }

    // @media (max-width: toEm(540)) {
    //   display: flex;
    // }
  }

  // .consult__navigation
  &__navigation {
    position: fixed;
    inset-block-end: toRem(110);
    inset-inline-end: 0.059524rem;
    /* 90/1512 */
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: toRem(10);
    padding-block: toRem(10);
    padding-inline: toRem(10);
    transform: rotate(-90deg);
    block-size: toRem(90);
    inline-size: toRem(200);
    z-index: 60;

    @media (max-width:$mobile) {
      display: none;
    }
  }

  // .consult__direction
  &__direction {
    align-items: center;
    font-size: toRem(20);
    letter-spacing: toRem(-0.4);
    text-transform: capitalize;
  }

  // .consult__arrow
  &__arrow {}
}

.form {
  display: flex;
  align-items: center;
  column-gap: toRem(40);

  @media (max-width: toEm(1130)) {
    column-gap: toRem(20);
  }

  @media (max-width: toEm(1050)) {
    flex-direction: column;
    row-gap: toRem(15);
    align-items: start;
  }

  @media (max-width:$mobile) {
    align-self: start;
  }

  @media (max-width: toEm(540)) {
    flex-direction: column;
    row-gap: toRem(12);
    align-self: center;
  }

  // .form__line
  &__line {
    font-size: toRem(20);
    line-height: 175%;
    /* 35/20 */
    text-transform: capitalize;
    display: flex;
    align-items: center;
    column-gap: toRem(40);

    @media (max-width: toEm(1130)) {
      column-gap: toRem(20);
    }

    @media (max-width: toEm(540)) {
      flex-direction: column;
      row-gap: toRem(12);
      align-self: center;
    }
  }

  // .form__name
  &__name {}

  // .form__input
  &__input {
    @media (max-width: toEm(540)) {
      text-align: center;
    }
  }

  // .form__message
  &__message {}

  // .form__button
  &__button {
    align-items: start;

    @media (max-width: toEm(540)) {
      align-self: center;
    }
  }
}

.contacts {

  // .contacts__title
  &__title {
    display: none;

    @media (max-width: toEm(1120)) {
      display: block;
      padding-inline-end: 19.907407%;
      /* 43/216 */
      display: inline-flex;
      justify-content: flex-start;
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-block-end: toRem(40);
    }

    &::after {
      content: '';
      inline-size: 119.200477%;
      block-size: toRem(1);
      background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
      margin-block-start: toRem(20);

      @media (max-width: toEm(479.98)) {
        margin-block-start: toRem(6);
      }

      @media (max-width: toEm(393)) {
        margin-block-start: toRem(4);
      }
    }
  }

  // .contacts__list
  &__list {
    display: flex;
    align-items: center;
    column-gap: toRem(40);

    @media (max-width: toEm(1130)) {
      flex-direction: column;
      align-items: start;
      row-gap: toRem(15);
    }
  }

  // .contacts__item
  &__item {
    @media (any-hover: hover) {
      &:hover {
        .contacts__link {
          span {
            text-decoration: underline;
          }

          &::before {
            transform: scale(1.3);
          }
        }

      }
    }
  }

  // .contacts__link
  &__link {
    display: flex;
    align-items: center;
    column-gap: toRem(20);
    font-size: toRem(20);
    letter-spacing: toRem(-0.4);
    text-transform: capitalize;
    transition: all 0.4s;

    &::before {
      inline-size: toRem(20);
      block-size: toRem(20);
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: toRem(20);
      color: $purpleColor;
      transition: all 0.4s;
    }
  }

  @media (max-width:$mobile) {
    width: 100%;
    align-self: flex-start;
  }
}